<?xml version="1.0" encoding="UTF-8"?>
<phpunit
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  bootstrap="vendor/autoload.php"
  backupGlobals="false"
  colors="false"
  processIsolation="false"
  stopOnFailure="false"
  xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/12.3/phpunit.xsd"
  cacheDirectory=".phpunit.cache"
  backupStaticProperties="false"
  displayDetailsOnTestsThatTriggerWarnings="true"
>
  <coverage/>
  <testsuites>
    <testsuite name="Test Suite">
      <directory suffix="Test.php">./tests</directory>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory suffix=".php">src/</directory>
    </include>
  </source>
  <php>
    <env name="DB_CONNECTION" value="pgsql"/>
    <env name="DB_HOST" value="db"/>
    <env name="DB_PORT" value="5432"/>
    <env name="DB_DATABASE" value="postgres"/>
    <env name="DB_USERNAME" value="postgres"/>
    <env name="DB_PASSWORD" value="postgres"/>
  </php>
</phpunit>
